.geisha {
    position: absolute;
    width: 120px;
    transform: translate(-50%, -50%);

    border-radius: .5rem;
}

.marker {
    position: absolute;

    width: 50px;
    transform: translate(-50%, -50%);

    transition: transform 1s ease-in-out;
}

.marker-top {
    transform: translate(-50%, -175%);
}

.marker-bot {
    transform: translate(-50%, 75%);
}

.carte {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 120px;
    border-radius: .5rem;

    transition: 1s ease-in-out all, 300ms ease-in-out transform;
}

.carte:hover {
    transform: translate(-50%, -50%) rotate(10deg);
}