.geisha {
    position: absolute;
    width: 110px;
    transform: translate(-50%, -50%);

    border-radius: .5rem;
    transition: transform 300ms ease-in-out;
}

.geisha:hover {
    transform: translate(-50%, -50%) rotate(-10deg)
}

.marker {
    position: absolute;

    width: 50px;
    transform: translate(-50%, -50%);

    transition: transform 1s ease-in-out, width 300ms ease-in-out;
}

.marker-top {
    transform: translate(-50%, -175%);
}

.marker-bot {
    transform: translate(-50%, 75%);
}

.marker:hover {
    width: 60px;
}

.carte {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 120px;
    border-radius: .5rem;

    transition: 1s ease-in-out top, 1s ease-in-out left, 1s z-index ease-out, 300ms ease-in-out transform;
}

.carte:hover {
    transform: translate(-50%, -50%) rotate(10deg);
}

.jeton {
    position: absolute;
    transform: translate(-50%, -50%);

    border-radius: 1rem;
    width: 90px;

    transition: 0s z-index, 1s ease-in-out left, 1s ease-in-out top, 500ms ease-in-out filter, 300ms width ease-in-out;
    transition-delay: 1s, 0s, 0s, 0s, 0s;
}

.jeton:hover {
    width: 100px;
}

.jeton-off {
    filter: grayscale(80%);
    transition-delay: 0s, 0s, 0s, 0s;
}

.icon {
    width: 3rem;
    display: block;
}

.control-list {
    position: absolute;
    background-color: hsla(40, 81.8%, 82.7%, 90%);

    display: flex;
    flex-direction: column;
    gap: .3rem;

    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem .3rem .5rem .5rem;
    border-radius: 1rem 0 0 1rem;
}

.title {
    position: absolute;
    transform: translate(-50%, -50%);
    font: small-caps 80px serif;
    color: white;
    z-index: 2000;

    background-color: #00000077;
    padding: 1rem 2rem;
    border-radius: 3rem;

    transition: 1s ease-in-out opacity;
}

.title.hide {
    opacity: 0;
}

.manche-status {
    text-align: center;
    font: bold 1.5rem serif;
}

.info-section {
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    transform: translate(-90px, 0);
    padding: .5rem;
    width: max-content;
    z-index: 40;
}

.info-name {
    font: bold small-caps 1.5rem serif;
}

.info-score {
    font: 1.1rem serif;
}

@media screen and (max-height: 899px) {
    #game {
        transform-origin: 0 0;
        transform: scale(90%);
    }
}

@media screen and (max-height: 799px) {
    #game {
        transform: scale(80%);
    }
}