{% extends 'base_authentication.html' %}
{% load static %}
{% block title %}
Connexion
{% endblock title %}

{% block head %}
<style type="text/css">
    body {
        background-image: url("{% static 'authentication/boite.jpg' %}");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #29343a;
        background-position: center;
    }
    h1{
        color:white;
    }
</style>
{% endblock head %}

{% block content %}
<h1>Connexion à Hanamikoji</h1>
<form method="post">
    <p>{{ message }}</p>
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" id="envoi">Se connecter</button><br /><br />
    <a href="{% url 'signup' %}">Inscrivez-vous !</a>
</form>
{% endblock content %}