.carte img {
    width: 120px;
    border-radius: .5rem;
    backface-visibility: hidden;

    transition: transform 800ms ease-out;
}

.carte {
    cursor: pointer;
    line-height: 0;

    outline: solid transparent .2rem;
}

.carte.outlined {
    outline-color: white;
}

.carte-dos {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 0;

    transform: rotateY(180deg);
}

.carte.hide .carte-front {
    transform: rotateY(180deg);
}

.carte.hide .carte-dos {
    transform: none;
}


.jeton-selected {
    cursor: pointer;
    animation: jeton-selected-blink 500ms alternate infinite ease-in-out;
}

.jeton-selected:hover {
    width: 100px !important;
}

@keyframes jeton-selected-blink {
    from {
        width: 90px;
    }

    to {
        width: 100px;
    }
}

.modal {
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2000;

    background-color: #000000aa;
    padding: 1rem 2rem;
    border-radius: 3rem;
    transition: 500ms ease-in-out opacity;
}

.modal.hide {
    opacity: 0;
    pointer-events: none;
}

.h1 {
    margin: .3rem 0;
    text-align: center;
    text-transform: uppercase;
}

.modal-send {
    text-align: center;
    margin-top: 1rem;
}
.modal-send button {
    font-size: 1.5rem;
    cursor: pointer;
}

.grid-input {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
}

.status-title {
    position: absolute;
    transform: translate(-50%, 0);
    font: small-caps 30px serif;
    text-align: center;
    color: white;
    z-index: 2000;
    width: max-content;
    max-width: 80vw;
    top: 10px;

    background-color: #000000aa;
    padding: .5rem 1rem;
    border-radius: 100rem;
}

.action-bar {
    display: flex;
    margin: .5rem 0;
    justify-content: center;
    gap: .5rem;

    font-size: larger;
    text-transform: uppercase;
}

.action-bar a {
    color: white;
}

#dump {
    font-size: 1rem;
    text-transform: lowercase;
}

#end-manche {
    position: absolute;
    transform: translate(-50%, -100%);
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    z-index: 2000;

    background-color: #000000aa;
    border: none;
    color: white;
    text-transform: uppercase;
    font: 3rem serif;

    cursor: pointer;
    padding: .5rem 1.5rem;
    border-radius: 100rem;
    border: solid white;
}

#end-manche.hide {
    opacity: 0;
    pointer-events: none;
}