/*J'ai repris d'un projet que j'avais déjà fait pour ne pas reprendre à zéro*/

/*Le général*/

body {
    /* background-image: url(.jpg); */
    background-attachment: fixed;
    background-size: cover;
}

/*La mise en forme des titres*/
h1 {
    text-align: center;
    font-size: 5.2em;
    font-weight: normal;
    text-decoration: underline;
    color: crimson;
}


/*La mise en forme des sections en général*/
form {
    border: 6px solid black;
    border-radius: 40px;
    box-shadow: 20px 20px 6px black;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    width: 75%;
    margin-left: 12.5%;
    padding: 2% 2% 2% 2%;
}

#envoi {
    font-size: 1.2em;
    color: green;
    text-align: center;
}



footer {
    border: 1px solid black;
    background-color: white;
    position: fixed;
    bottom: 3px;
    right: 3px;
    padding: 5px
}

/*La barre de navigation*/
nav {
    position: fixed;
    background-color: #9e9e9e7a;
    display: inline-block;
    vertical-align: top;
}

nav li {
    list-style-type: none;
}




/*La mise en forme des liens*/
a {
    color: green;
}


a:hover {
    /*Si le lien a la souris dessus (a comme équivalent onmouseover en JS*/
    color: navy;
}

a:visited {
    color: maroon;
}