{% load static %}
<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'logo.jpg' %}">
    {% block css %}{% endblock css %}
    {% block head %}{% endblock head %}
</head>

<body>
    {% if user.is_authenticated %}
    <nav>
        <strong>Bonjour {{ request.user }}</strong>
        <a href="{%url 'home' %}">Home</a>
        <a href="{% static 'documentation/index.html' %}" target="_blank">Documentation</a>
        <a href="{% url 'champions' %}">Champions</a>
        <a href="{% url 'matchs' %}">Matchs</a>
        <a href="{% url 'tournois' %}">Tournois</a>
        <a href="{% url 'password_change' %}">Changer de mot de passe</a>
        <a href="{% url 'logout' %}">Se déconnecter</a>
        {% if user.is_staff %}
            <a href="/admin/" target="_blank">Administration</a>
        {% endif %}
    </nav>
    {% endif %}
    {% block body %}{% endblock body %}
</body>

<footer>
    Créé par
    <ul>
        <li>Antonin LOUBIERE</li>
        <li>Tristan PAGEZY</li>
        <li>Alex ONCEANU</li>
    </ul>
    Projet de Juillet/Août 2023
</footer>

</html>