/*J'ai repris d'un projet que j'avais déjà fait pour ne pas reprendre à zéro*/

/*Le général*/

body {
    /* background-image: url(.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-image: url("BG.jpg");
}

/*La mise en forme des titres*/
h1 {
    text-align: center;
    font-size: 5.2em;
    font-weight: normal;
    text-decoration: underline;
    color: crimson;
}


/*La mise en forme des sections en général*/
form {
    border: 6px solid black;
    border-radius: 40px;
    box-shadow: 20px 20px 6px black;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    width: 75%;
    margin-left: 12.5%;
    padding: 2% 2% 2% 2%;
}

#envoi {
    font-size: 1.2em;
    color: green;
    text-align: center;
    position: relative;
        left: 15%;
}



footer {
    border: 1px solid black;
    background-color: white;
    position: fixed;
    bottom: 3px;
    right: 3px;
    padding: 5px
}

/*La barre de navigation*/
nav {
    text-align: center;
        margin: 0px 0px 0px 0px;
        padding: 1% 1% 1% 1%;
        background: red;
        color: white;
}

nav strong {
    position: absolute;
    left: 3%;
    height: 10px;
}
nav a {
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
    
nav a:before,
nav a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

nav a:before {
    top: 0px;
    transform: translateY(10px);
}

nav a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

nav a:hover:before,
nav a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* Les tableaux */
table,
td,
th {
    border: 1px solid #000000;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
}

th {
    background: #090f42d6;
    color: #fff;
}

tr {
    background: white;
}
table {
    margin: auto;
        margin-top: 3%;
    border-collapse: collapse;
    width: 75%;
}

th,
td {
    padding: 15px;
}
table tbody tr:nth-child(odd) {
    background: #eb6969cc;
    color: #000;
    font-weight: 500;
}

caption {
    margin-bottom: 15px;
    font-size: 2.5em;
    text-decoration: underline;
}

/*Lien champion*/

#ajout {
    border: 5px solid red;
    padding: 1%;
    margin-left: 30%;
    margin-right: auto;
    width: 6em;
    font-size: 3em;
    border-radius: 10px;
    box-shadow: 10px 10px 3px #000000;
    color: red;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    background-color: white;
}