{% extends 'base_game.html' %}
{% block title %}Lancer un match{% endblock title %}
{% block content %}
<h1>Lancer un match</h1>
<form method="post" class="form" enctype="multipart/form-data">
    <strong>{{ message }}</strong><br />
    <p>
        <label>Champion 1: </label>
        <select name="champion1">
            {% for u, champs in list_champions %}
                <optgroup label={{u.username}}>
                    {% for c in champs %}
                        <option value="{{c.id}}">{{c.nom}}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </p>
    <p>
        <label>Champion 2: </label>
        <select name="champion2">
            {% for u, champs in list_champions %}
                <optgroup label={{u.username}}>
                    {% for c in champs %}
                        <option value="{{c.id}}">{{c.nom}}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </p>
    <p>
        <label>Distribution des cartes: </label>
        <textarea name="map" class="cartes-input" placeholder="Laissez vide pour aléatoire. Ex:
0 0 1 1 2 2 3 3 3 4 4 4 5 5 5 5 6 6 6 6 6
1 4 4 5 6 0 2 6 4 6 0 3 6 5 3 6 1 5 2 3 5
1 0 2 5 2 6 6 3 5 3 4 3 5 6 4 6 6 5 0 1 4"></textarea>
    </p>
    {% csrf_token %}
    <button type="submit" id="envoi">Lancer le match</button>
</form>
{% endblock content %}