{% extends 'base_game.html' %}
{% block title %}Les champions{% endblock title %}

{% block content %}
<h1>Tous les champions</h1>
<div class="ajout-barre">
    <a href="{% url 'champion_upload' %}" class="ajout">Ajouter un champion</a>
    <form action="" method="get">
        <select onchange="this.form.submit()" name="user" class="ajout">
            <option value="all">Tous les utilisateurs</option>
            {% for u in users %}
                <option value="{{u.id}}" {% if filter_id == u.id %}selected{% endif %}>{{u.username}}</option>
            {% endfor %}
        </select>
    </form>
</div>
<table>
    <caption>Les champions</caption>
    <tr>
        <th>Nom</th>
        <th>Date de création</th>
        <th>Auteur</th>
        <th>Statut de compilation</th>
        <th>Nombre de matchs</th>
    </tr>
    {% for champion in champions %}
    <tr>
        {% if champion.uploader == request.user or request.user.is_superuser %}
            <td><a href="{% url 'champion_detail' champion.nom %}" title="{{ champion }}">{{ champion.nom }}</a></td>
        {% else %}
            <td title="{{champion}}">{{ champion.nom }}</td>
        {% endif %}
        <td>{{ champion.date|date:"l d F Y, H:i" }}</td>
        <td id="sans_casse">{{ champion.uploader }}</td>
        <td>{{ champion.get_compilation_status_display }}</td>
        <td><a href="{% url 'matchs' %}?champion=champ-{{ champion.pk }}">{{ champion.nb_matchs }}</a></td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <div class="side-pagination">
        {% if champions.has_previous %}
        <a href="?page=1&user={{ filter_id }}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
            </svg> Première page</a>
        <a href="?page={{ champions.previous_page_number }}&user={{ filter_id }}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg> Précédent</a>
        {% endif %}
    </div>

    <span class="current">
        Page {{ champions.number }} sur {{ champions.paginator.num_pages }}
    </span>

    <div class="side-pagination pagination-right">
        {% if champions.has_next %}
        <a href="?page={{ champions.next_page_number }}&user={{ filter_id }}">Suivant
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg></a>
        <a href="?page={{ champions.paginator.num_pages }}&user={{ filter_id }}">Dernière page
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
            </svg>
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}