{% extends 'base_game.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

<h1>Tableau de bord</h1>
Bonjour {{ request.user }} <br />
<a href="{% url 'champion_upload' %}">Ajouter un champion</a>
<table>
    <caption>Les champions</caption>
    <tr>
        <th>Nom</th>
        <th>Date de création</th>
        <th>Fichier</th>
    </tr>
    {% for champion in champions %}
    <tr>
        <td>{{ champion.nom }}</td>
        <td>{{ champion.date }}</td>
        <td>{{ champion.code }}</td>
    </tr>
    {% endfor %}
</table>
<table>
    <caption>Les matchs</caption>
    <tr>
        <th>ID</th>
        <th>Champion1</th>
        <th>Champion2</th>
        <th>Statut</th>
    </tr>
    {% for match in matchs %}
    <tr>
        <td>{{ match.id_match }}</td>
        <td>{{ match.champion1.nom }}</td>
        <td>{{ match.champion2.nom }}</td>
        <td>{{ match.status }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}