{% extends 'base_game.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

<h1>Tableau de bord</h1>
Bonjour {{ request.user }} <br />
<a href="{% url 'champion_upload' %}">Ajouter un champion</a>
<table>
    <caption>Les champions</caption>
    <tr>
        <th>Nom</th>
        <th>Date de création</th>
        <th>Fichier</th>
        <th>Statut de compilation</th>
    </tr>
    {% for champion in champions %}
    <tr>
        <td>{{ champion.nom }}</td>
        <td>{{ champion.date }}</td>
        <td><a href="{{ champion.code.url }}">{{ champion.code }}</a></td>
        <td>{{ champion.get_compilation_status_display }}</td>
    </tr>
    {% endfor %}
</table>
<table>
    <caption>Les matchs</caption>
    <tr>
        <th>ID</th>
        <th>Champion1</th>
        <th>Champion2</th>
        <th>Statut</th>
    </tr>
    {% for match in matchs %}
    <tr>
        <td><a href="{% url 'match_detail' match.id_match %}">{{ match.id_match }}</a></td>
        <td>{{ match.champion1.nom }}</td>
        <td>{{ match.champion2.nom }}</td>
        <td>{{ match.get_status_display }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}