{% extends 'base_game.html' %}
{% block title %}Match n°{{ match.id_match }} | {{ match.champion1.nom }} vs {{ match.champion2.nom }} {% endblock title %}
{% load static %}
{% block content %}
<div class="nav-matchs">
    {% if precedent != None %}
    <a href="{% url 'match_detail' precedent.id_match %}">Précédent</a>
    {% else %}
    Début
    {% endif %}
    <h1>Match N°{{ match.id_match }}</h1>
    {% if suivant != None %}
    <a href="{% url 'match_detail' suivant.id_match %}">Suivant</a>
    {% else %}
    Fin
    {% endif %}

</div>
<div class="content-section" id="match_detail">
    <span class="content-center">{{ match.get_status_display }}</span>
    <div class="grid-2 {% if match.fin_prematuree %}fin-prematuree{% endif %}">
        <div class="champion-column {% if match.gagnant == 1 %}winner{% endif %}">
            <span class="champion-name">{{match.champion1.nom}}</span>
            <span>{{ match.champion1.uploader }}</span>
            {% if match.status == 'FI' %}<span class="score">{{match.score1}}</span>{% endif %}
        </div>
        <div class="champion-column {% if match.gagnant == 2 %}winner{% endif %}">
            <span class="champion-name">{{match.champion2.nom}}</span>
            <span>{{ match.champion2.uploader }}</span>
            {% if match.status == 'FI' %}<span class="score">{{match.score2}}</span>{% endif %}
        </div>
        
    </div>
    {% if match.tournoi != None %}<div class="champion-name margin-center">Ce match compte pour <a
            href=" {% url 'tournoi_detail' match.tournoi.id_tournoi %}">le tournoi
            n°{{match.tournoi.id_tournoi}}</a></div>{% endif %}
    {% if match.status == 'FI' %}
        {% if match.fin_prematuree %}
            <div class="champion-name margin-center">Ce match s'est terminé prématurément</div>
        {% endif %}
        <span class="content-center">Distribution des cartes</span>
        <div class="map">{{map}}</div>
        <iframe id="match-{{ match.id_match }}" src="/static/replay/index.html?match={{ match.id_match }}" allow="fullscreen" frameborder="0"></iframe>
        <div class="content-center">
            <a href="/static/replay/index.html?match={{ match.id_match }}" target="_blank">Replay</a>
            <span id="dump">(<a href="/media/match/{{ match.id_match }}/dump.json" target="_blank">dump</a>)</span>
        </div>
        {% if match.champion1.uploader_id == request.user.id or user.is_superuser %}
            <a class="content-center" href="{% url 'redirection_out' id=match.id_match nb=1 %}" target="_blank">Sortie du champion
                1</a>
        {% endif %}
        {% if match.champion2.uploader_id == request.user.id or user.is_superuser %}
            <a class="content-center" href="{% url 'redirection_out' id=match.id_match nb=2 %}" target="_blank">Sortie du champion
                2</a>
        {% endif %}
    {% endif %}
</ul>
</div>
{% endblock content %}