{% extends 'base_game.html' %}
{% block title %}Matchs{% endblock title %}

{% block content %}
<h1>Tous les matchs</h1>
<div class="ajout-barre">
    <a href="{% url 'add_match' %}" class="ajout">Lancer un match</a>
    <form action="" method="get">
        <select onchange="this.form.submit()" name="champion" class="ajout">
            <option value="all">Tous les champions</option>
            {% for u, champs in list_champions %}
                <optgroup label={{u.username}}>
                    <option value="user-{{u.id}}" {% if filter_type == "user" and filter_id == u.id %}selected{% endif %}>Champions de {{u.username}}</option>
                    {% for c in champs %}
                        <option value="champ-{{c.id}}" {% if filter_type == "champ" and filter_id == c.id %}selected{% endif %}>{{c.nom}}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        <select onchange="this.form.submit()" name="tournoi" class="ajout">
            <option value="all_t">Tous les matchs</option>
            <option value="none_t" {% if tournoi_selected == "none_t" %}selected{% endif %}>Aucun tournoi</option>
            {% for t in tournois %}
            <option value="{{t.id_tournoi}}" {% if tournoi_selected == t.id_tournoi %}selected{% endif %}>Tournoi n°{{ t.id_tournoi }} |
                {{t.date_lancement|date:"l d F Y, H:i"}}</option>
            {% endfor %}
        </select>
    </form>
</div>
<table>
    <caption>Les matchs</caption>
    <tr>
        <th>ID</th>
        <th>Champion n°1</th>
        <th>Champion n°2</th>
        <th>Score</th>
        <th>Statut</th>
    </tr>
    {% for match in matchs %}
    <tr>
        <td><a href="{% url 'match_detail' match.id_match %}">{{ match.id_match }}</a></td>
        <td {% if match.gagnant == 0 or match.gagnant == 1 %}class='champion_win'{% endif %} title="{{match.champion1}}">{{ match.champion1.nom }}</td>

        <td {% if match.gagnant == 0 or match.gagnant == 2 %}class='champion_win'{% endif %} title="{{match.champion2}}">{{ match.champion2.nom }}</td>
        {% if match.status == 'FI' %}
        <td>{{ match.score1 }} à {{ match.score2 }}</td>
        {% else %}
        <td>Non fini</td>
        {% endif %}
        <td>{{ match.get_status_display }}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <div class="side-pagination">
        {% if matchs.has_previous %}
        <a href="?page=1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
            </svg> Première page</a>
        <a href="?page={{ matchs.previous_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg> Précédent</a>
        {% endif %}
    </div>

    <span class="current">
        Page {{ matchs.number }} sur {{ matchs.paginator.num_pages }}
    </span>

    <div class="side-pagination pagination-right">
        {% if matchs.has_next %}
        <a href="?page={{ matchs.next_page_number }}">Suivant
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg></a>
        <a href="?page={{ matchs.paginator.num_pages }}">Dernière page
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
            </svg>
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}