<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Jouer</title>
    <meta name='viewport' content='1'>
    <link rel='stylesheet' type='text/css' href='/static/replay/style.css'>
    <link rel='stylesheet' type='text/css' href='/static/play/style.css'>
    <script src='/static/replay/shared.js' defer></script>
    <script src='/static/play/play.js' defer></script>
    <script>let username = "{{ user.username }}";</script>
</head>
<body>
    <div id="game-parent">
        <div id="game">
            <img class="geisha" id="geisha0" src="/static/replay/assets/geishas/purple-geisha.webp">
            <img class="geisha" id="geisha1" src="/static/replay/assets/geishas/red-geisha.webp">
            <img class="geisha" id="geisha2" src="/static/replay/assets/geishas/yellow-geisha.webp">
            <img class="geisha" id="geisha3" src="/static/replay/assets/geishas/blue-geisha.webp">
            <img class="geisha" id="geisha4" src="/static/replay/assets/geishas/orange-geisha.webp">
            <img class="geisha" id="geisha5" src="/static/replay/assets/geishas/green-geisha.webp">
            <img class="geisha" id="geisha6" src="/static/replay/assets/geishas/pink-geisha.webp">
        
            <!-- translateY(+- 100%) selon son état -->
            <img class="marker" id="marker0" src="/static/replay/assets/marker.png">
            <img class="marker" id="marker1" src="/static/replay/assets/marker.png">
            <img class="marker" id="marker2" src="/static/replay/assets/marker.png">
            <img class="marker" id="marker3" src="/static/replay/assets/marker.png">
            <img class="marker" id="marker4" src="/static/replay/assets/marker.png">
            <img class="marker" id="marker5" src="/static/replay/assets/marker.png">
            <img class="marker" id="marker6" src="/static/replay/assets/marker.png">
        
            <div id="cards-container"></div>

            <img class="jeton" id="j0-0" src="/static/replay/assets/actions/B1.jpg">
            <img class="jeton" id="j0-1" src="/static/replay/assets/actions/B2.jpg">
            <img class="jeton" id="j0-2" src="/static/replay/assets/actions/B3.jpg">
            <img class="jeton" id="j0-3" src="/static/replay/assets/actions/B4.jpg">

            <img class="jeton" id="j1-0" src="/static/replay/assets/actions/A1.jpg" >
            <img class="jeton" id="j1-1" src="/static/replay/assets/actions/A2.jpg" >
            <img class="jeton" id="j1-2" src="/static/replay/assets/actions/A3.jpg" >
            <img class="jeton" id="j1-3" src="/static/replay/assets/actions/A4.jpg" >
            <span class="status-title" id="status-title">Connexion en cours…</span>
            <span class="title" id="title-j0">Joueur 1</span>
            <span class="title" id="title-j1">Joueur 2</span>
            <div class="info-section" id="info-section-0">
                <span class="info-name" id="info-name-0">Joueur 1</span>
                <span class="info-score" id="info-score-0">0 cartes, 0 points</span>
                <span class="info-score" id="info-status-0"></span>
            </div>
            <div class="info-section" id="info-section-1">
                <span class="info-name" id="info-name-1">Joueur 2</span>
                <span class="info-score" id="info-score-1">0 cartes, 0 points</span>
                <span class="info-score" id="info-status-1"></span>
            </div>
            <button id="end-manche" class="hide" onclick="onStartNewMancheClick()">Continuer</button>
        </div>
    </div>

    <div class="modal hide" id="new-match">
        <h1 class="h1">Lancer un match</h1>
        <div class="action-bar">
            <div>
                <a href="/static/replay/index.html?match=play-{{ user.username }}" target="_blank">Replay</a>
                <span id="dump">(<a href="/media/play/{{ user.username }}/dump.json" target="_blank">dump</a>)</span>
            </div>
            <a href="/media/play/{{ user.username }}/map.txt" target="_blank">Cartes</a>
            <a href="/media/play/{{ user.username }}/out.txt" target="_blank">Sortie</a>
         </div>
        <div class="grid-input">
            <label>Opposant :</label>
            <select id="opponent-select">
                {% for u, champs in champions %}
                    {% if u != user or champs %}
                        <optgroup label="Champions de {{u.username}}">
                            {% if u != user %}<option value="user-{{u.username}}">Utilisateur {{u.username}}</option>{% endif %}
                            {% for c in champs %}
                                <option value="champ-{{c.nom}}">{{c.nom}}</option>
                            {% endfor %}
                        </optgroup>
                    {% endif %}
                {% endfor %}
            </select>
            <label>Premier joueur :</label>
            <select id="first-select">
                <option value="">Au hasard</option>
                <option value="true">Vous jouez en premier</option>
                <option value="false">Votre adversaire joue en premier</option>
            </select>
            <label>Distribution des cartes: </label>
        <textarea id="map-input" class="cartes-input" placeholder="Laissez vide pour aléatoire. Ex:
0 0 1 1 2 2 3 3 3 4 4 4 5 5 5 5 6 6 6 6 6
1 4 4 5 6 0 2 6 4 6 0 3 6 5 3 6 1 5 2 3 5
1 0 2 5 2 6 6 3 5 3 4 3 5 6 4 6 6 5 0 1 4"></textarea>
        </div>
        <div class="modal-send"><button onclick="lancerMatch()">Lancer le match</button></div>
    </div>
    <div class="defi-popup hide" id="defi-popup">
        <span><span id="defi-name">François</span> vous défi !</span>
        <div class="defi-buttons-bar"><button onclick="rejectDefi()">Rejeter</button><button onclick="acceptDefi()">Accepter</button></div>
    </div>

    <div class="control-list">
        <span class="manche-status" id="manche-status"></span>
        <button onclick="stopGame()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002" />
        </svg></button>
        <button onclick="toggleFullScreen()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
        </svg></button>
        <button onclick="song()" value="on" id="song"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" id="logo-song"
                    d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z" />
            </svg>
        </button>
    </div>
</body>
</html>