{% extends 'base_game.html' %}
{% block title %}Tournoi n°{{ tournoi.id_tournoi }}{% endblock title %}

{% block content %}
<h1>Tournoi n°{{ tournoi.id_tournoi }}</h1>
<div class="content-section">
    <span class="content-center">{{ tournoi.get_status_display }}</span>
    {% if tournoi.status != 'EA' %}
    <span class="content-center">Lancement : {{ tournoi.date_lancement }}</span>
    {% endif %}
    {% if tournoi.status == 'LP' or tournoi.status == 'EA' %}
    Choix des champions <br />
    <form method="post" class="form">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" id="envoi">Envoyer</button>
    </form>
    {% elif tournoi.status == 'EC' %}
    Nombres de matchs terminés : {{ termine }} sur {{ nb_matchs }}
    {% elif tournoi.status == 'FI' %}
    <table>
        <caption>Classement</caption>
        <tr>
            <th>Classement</th>
            <th>Nom</th>
            <th>Auteur</th>
            <th>Nombre de points</th>
        </tr>
        {% for champion in inscrits %}
        <tr>
            <td>{{ champion.classement }}</td>
            <td title="{{champion}}">{{ champion.nom }}</td>
            <td id="sans_casse">{{ champion.uploader }}</td>
            <td>{{ champion.nb_points }}</td>
        </tr>
        {% endfor %}
    </table>
    RESUME DES MATCHS ICI
    {% endif %}
    {% if tournoi.status == 'LP' and user.create_tournament or tournoi.status == 'EA' and user.create_tournament %}
    {# J'ai pas trouvé mieux #}
    <a href="{% url 'update_tournoi' tournoi.id_tournoi %}" class="content-center">Lancer ou changer la date du
        tournoi</a>
    {% endif %}
</div>
{% endblock content %}