{% extends 'base_game.html' %}
{% block title %}Les tournois{% endblock title %}
{% load static %}
{% block content %}
<h1>Tous les tournois</h1>
<div class="ajout-barre space-bottom">
    {% if user.create_tournament %}
    <a href="{% url 'add_tournoi' %}" class="ajout">Ajouter un tournoi</a>
    {% endif %}
</div>

{% if prochain_tournoi %}
    <div class="content-section">
        <a class="content-center" href="{% url 'tournoi_detail' prochain_tournoi.id_tournoi %}">Prochain tournoi</a>
        <div id="timer" data-time="{{ timer }}">
            <div id="timer-days" class="timer-nbs">
                <div class="digit digit-2" id="timer-days-2"><span class="from">0</span><span class="to"></span></div><div class="digit" id="timer-days-1"><span class="from">0</span><span class="to"></span></div>
                <div class="timer-caption">jours</div>
            </div>
            <div id="timer-days" class="timer-nbs">
                <div class="digit digit-2" id="timer-hours-2"><span class="from">0</span><span class="to"></span></div><div class="digit" id="timer-hours-1"><span class="from">0</span><span class="to"></span></div>
                <div class="timer-caption">heures</div>
            </div>
            <div id="timer-days" class="timer-nbs">
                <div class="digit digit-2" id="timer-minutes-2"><span class="from">0</span><span class="to"></span></div><div class="digit" id="timer-minutes-1"><span class="from">0</span><span class="to"></span></div>
                <div class="timer-caption">minutes</div>
            </div>
            <div id="timer-days" class="timer-nbs">
                <div class="digit digit-2" id="timer-seconds-2"><span class="from">0</span><span class="to"></span></div><div class="digit" id="timer-seconds-1"><span class="from">0</span><span class="to"></span></div>
                <div class="timer-caption">secondes</div>
            </div>
        </div>
        <div class="content-section-caption">{{ prochain_tournoi.nb_champions }} champions inscrits</div>
        <div class="content-section-caption {% if nb_champs_user <= 0 %}content-red{% endif %}">Vous avez inscrit {{ nb_champs_user }}/{{ prochain_tournoi.max_champions }} champions</div>
        <script src="{% static 'game/timer.js' %}"></script>
    </div>
{% endif %}

<table>
    <caption>Les tournois</caption>
    <tr>
        <th>ID</th>
        <th>Date de lancement</th>
        <th>Statut</th>
        <th>Nombre de champions inscrits</th>
    </tr>
    {% for tournoi in tournois %}
    <tr>
        <td><a href="{% url 'tournoi_detail' tournoi.id_tournoi %}">{{ tournoi.id_tournoi }}</a></td>
        <td>{% if tournoi.date_lancement == None %}Non programmé{% else %}{{ tournoi.date_lancement }}{% endif %}</td>
        <td>{{ tournoi.get_status_display }}</td>
        <td>{{ tournoi.nb_champions }}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <div class="side-pagination">
        {% if tournois.has_previous %}
        <a href="?page=1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
            </svg> Première page</a>
        <a href="?page={{ tournois.previous_page_number }}"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg> Précédent</a>
        {% endif %}
    </div>

    <span class="current">
        Page {{ tournois.number }} sur {{ tournois.paginator.num_pages }}
    </span>

    <div class="side-pagination pagination-right">
        {% if tournois.has_next %}
        <a href="?page={{ tournois.next_page_number }}">Suivant
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg></a>
        <a href="?page={{ tournois.paginator.num_pages }}">Dernière page
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
            </svg>
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}