{% extends 'base_game.html' %}
{% load static %}
{% block title %}Les utilisateurs{% endblock title %}

{% block content %}
<h1>Tous les utilisateurs</h1>
<table>
    <caption>Les utilisateurs</caption>
    <tr>
        <th>Nom</th>
        <th>Date de création</th>
        <th>Nombre de matchs</th>
        <th>Dernière connexion</th>
        <th>Jouer</th>
    </tr>
    {% for utilisateur in utilisateurs %}
    <tr>
        <td><a href="{% url 'user_detail' utilisateur.username %}" id="sans_casse">{{ utilisateur.username }}</a></td>
        <td>{{ utilisateur.date_joined|date:"l d F Y, H:i" }}</td>
        <td><a href="{% url 'champions' %}?user={{ utilisateur.pk }}">{{ utilisateur.nb_champions }}</a></td>
        <td>{% with request.user.get_profile as profile %}{{ profile.last_seen|timesince }}{% endwith %}</td>
        <td><a href="{% static 'play/index.html' %}?adv=user-{{ utilisateur.username }}" target="_blank">Défier</a></td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <div class="side-pagination">
        {% if utilisateurs.has_previous %}
        <a href="?page=1&user={{ filter_id }}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
            </svg> Première page</a>
        <a href="?page={{ utilisateurs.previous_page_number }}&user={{ filter_id }}"><svg
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg> Précédent</a>
        {% endif %}
    </div>

    <span class="current">
        Page {{ utilisateurs.number }} sur {{ utilisateurs.paginator.num_pages }}
    </span>

    <div class="side-pagination pagination-right">
        {% if utilisateurs.has_next %}
        <a href="?page={{ utilisateurs.next_page_number }}&user={{ filter_id }}">Suivant
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg></a>
        <a href="?page={{ utilisateurs.paginator.num_pages }}&user={{ filter_id }}">Dernière page
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
            </svg>
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}